@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background: url(../imagens/fundo-03.jpg) no-repeat bottom center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 320px;
    height: 660px;
    
    background: url(../imagens/frame-celular.png) no-repeat center center;
    background-size: contain;

    max-height: 85vh !important;
    max-width: 90vw !important;
}

iframe#tela {
    position: absolute;
    top: 12px;
    left: 49px;
    
    width: 224px;
    height: 482px;
    border-radius: 28px;
}

section#redes-sociais{
    text-align: right;
    position: fixed;
    top: 50%;               
    right: 20px;
    transform: translateY(-50%);
      
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.493);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    transition: transform 0.3s;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.582)
}